/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	/*font: 12px/18px Arial, sans-serif;*/
	height: 90%;
	background-color: #eaeaea;
}








































/* Wrap
-----------------------------------------------------------------------------*/
.wrap {
	min-width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 89px;
}


/*Nav Top*/
.nav {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #b7b7b7;
}
.nav ul {
	max-width: 1004px;
	position: relative;
	display: block;
	margin: 0 auto;
}
.nav li:first-child {
	margin: 0 0 0 0;
	border-left: none;
}
.nav li {
	width: 33.3%;
	float: left;
	margin: 0 0 0 0;
	border-left: 1px solid #b7b7b7;
	box-sizing: border-box;
}
.nav li img {
	display: block;
	margin: 0 9px 0 0;
	text-align: center;
	float: left;
}
.nav a {
    display: block;
    width: 100%;
    padding: 22px 0 0 108px;
    min-height: 74px;
    font: 16px/38px 'open_sanslight';
    color: #000;
    text-align: left;
	box-sizing: border-box;
}





































/*My Work CSS Style*/

/*float rules*/
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}

.cb {
	clear: both !important;
}

/*Box Sizing*/
.bs {
    box-sizing: border-box;
}
/*Shadow box*/
.shdb {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#d2d2d23)";/*IE 8*/
	-moz-box-shadow: 9px 2px 5px #d2d2d2;/*FF 3.5+*/
	-webkit-box-shadow: 9px 2px 5px #d2d2d23;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 9px 2px 5px #d2d2d2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#d2d2d23); /*IE 5.5-7*/
}

/*Shadow text*/
.shdt {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000)";/*IE 8*/
	text-shadow: -1px 0px 0px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000); /*IE 5.5-7*/
}

/*Clear fix*/
.clf:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clf:after {
  content: "";
  display: table;
  clear: both;
}

/*CSS Tran*/
.hb {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hb:hover {
	transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}