/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	/*font: 12px/18px Arial, sans-serif;*/
	height: 90%;
	background-color: #eaeaea;
}








































/* Wrap
-----------------------------------------------------------------------------*/
.wrap {
	min-width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 89px;
}


/*Nav Top*/
.nav {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #b7b7b7;
}
.nav ul {
	max-width: 1004px;
	position: relative;
	display: block;
	margin: 0 auto;
}
.nav li:first-child {
	margin: 0 0 0 0;
	border-left: none;
}
.nav li {
	width: 33.3%;
	float: left;
	margin: 0 0 0 0;
	border-left: 1px solid #b7b7b7;
	box-sizing: border-box;
}
.nav li img {
	display: block;
	margin: 0 9px 0 0;
	text-align: center;
	float: left;
}
.nav a {
    display: block;
    width: 100%;
    padding: 22px 0 0 108px;
    min-height: 74px;
    font: 16px/38px 'open_sanslight';
    color: #000;
    text-align: left;
	box-sizing: border-box;
}


/*Content Wrap */
 .content_w {
 	width: 100%;
 	padding: 86px 0 80px 0;
 }
 .content_box {
 	width: 601px;
 	min-height: 393px;
 	margin: 0 auto;
 	border-radius: 10px;
 	overflow: hidden;
 	background-color: #fff;

	 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#a7a2a2)";/*IE 8*/
	-moz-box-shadow: 0px 1px 3px #a7a2a2;/*FF 3.5+*/
	-webkit-box-shadow: 0px 1px 3px #a7a2a2;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0px 1px 3px #a7a2a2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#a7a2a2); /*IE 5.5-7*/
}


/*Cont Articl*/
 .cont__art_box {
 	width: 100%;
 	padding: 0 0 0 0;
 	text-align: center;
 	background-color: #f8f8f8;
	border-bottom: 1px solid #b7b7b7;
 }
 .cont__art_box p {
	font: 32px 'open_sanslight';
	color: #000;
	padding: 12px 0 15px 0;
 }


 /*Content Box*/
 .cont__text_box {
	width: 100%;
	padding: 0 0 0 0;
	text-align: center;
	box-sizing: border-box;
 }

.cont__text_1 {
	font: 18px 'open_sansregular';
	color: #000;
    padding: 9px 140px 0 136px;
	margin: 41px 0 26px 0;
    text-align: left;
	box-sizing: border-box;
}
.cont__text_1:before {
	content: '';
	width: 67px;
	height: 59px;
	float: left;
	margin: -9px 19px 0 0;
	background-image: url('../img/phon_ico_lg.png');
	background-repeat: no-repeat;
	background-position: 0 0; 
}


.cont__text_2 {
    font: 24px 'open_sanssemibold';
    color: #000;
    padding: 4px 0 0 0;
    text-align: center;
}

.text_box_btn {
    font: 29.2px 'open_sansregular';
    color: #fff;
    display: inline-block;
    margin: 22px auto 0 auto;
    padding: 24px 83px 24px 83px;
    border-bottom: 1px solid;
	text-align: center;

	background: -moz-linear-gradient(270deg, #502ac9 0%, #36169d 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 270deg, color-stop(0%, #502ac9), color-stop(100%, #36169d));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(270deg, #502ac9 0%, #36169d 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(270deg, #502ac9 0%, #36169d 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(270deg, #502ac9 0%, #36169d 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#502ac9', endColorstr='#36169d', GradientType='1'); /* for IE */
	background: linear-gradient(180deg, #502ac9 0%, #36169d 100%);/* W3C */
}





/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -81px auto 0;
	min-width: 100%;
	max-width: 1920px;
	clear: both;
}

/*Footer text Box*/
.footer__text_box {
	max-width: 1004px;
	width: 100%;
	margin: 0 auto; 
	min-height: 81px;
	clear: both;
	padding: 0 0 0 0;
}
.footer__text_box p {
	font: 12px 'Arial';
	color: #959595;
	text-align: center;
    padding: 4px 0 0 0;
    box-sizing: border-box;
}







/* Media Query
-----------------------------------------------------------------------------*/
@media screen and (max-width:900px) {
	body .nav a {
		padding-left: 33%;
	}
}

@media screen and (max-width:768px) {
	body .nav a {
		padding-left: 30%;
	}
}

@media screen and (max-width:768px) {
	body .nav a {
		padding-left: 25%;
	}
}


@media screen and (max-width:640px) {
	body .wrap {
		padding-bottom: 200px;
	}
	body .nav a {
		padding: 31px 20px 31px 20px;
		 font: 24px 'open_sanslight'; 
	}
	body .nav li img {
		padding-right: 13px;
	}
	body .content_w {
		width: 100%;
	    padding: 27px 17px 0 17px;
	    box-sizing: border-box;
	}
	body .content_box {
		width: 100%;
		box-sizing: border-box;
	}
	body .cont__text_1 {
		float: left;
		margin: 49px 0 28px 0;
		padding: 0 0 0 61px;
		font-size: 28px;
	}
	body .cont__text_1:before {
	    content: '';
	    width: 93px;
	    height: 83px;
	    float: left;
	    margin: -3px 25px 0 0;
	    background-image: url('../img/phon_ico_md.png');
	    background-repeat: no-repeat;
	    background-position: 0 0;
	}
	body .cont__text_2 {
		font-size: 36px;
		padding: 4px 42px 0 42px;
		line-height: 40px;
	}
	body .text_box_btn {
		font-size: 54.2px;
		margin: 20px auto 55px auto;
		padding: 41px 147px;
	}


	body .footer {
		margin-top: -200px;
	}
	body .footer__text_box p {
		font-size: 22px;
		padding: 4px 0;
	}
}


@media screen and (max-width:600px) {
	body .nav a {
		font-size: 20px;
		line-height: 38px;
		padding: 31px 20px 31px 20px;
	}
	body .cont__text_1 {
		padding-left: 8%;
	}
	body .text_box_btn {
		padding: 41px 22%;
	}
}


@media screen and (max-width:560px) {
	body .nav a {
	    font-size: 17px;
	    line-height: 38px;
	    padding: 8px 20px 8px 20px;
	    min-height: auto;
	}
	body .nav li img {
		width: 17%;
		margin-top: 7px;
	}
	body .cont__text_1 {
		font-size: 17px;
	    padding-left: 5%;
	}
	body .cont__text_1:before {
	    content: '';
	    width: 34px;
	    height: 30px;
	    background-size: contain;
	}
	body .cont__text_2 {
	    font-size: 30px;
	    padding: 4px 42px 0 42px;
	    line-height: 40px;
	}
	body .text_box_btn {
	    font: 29.2px 'open_sansregular';
	    padding: 21px 22%;
	}

	body .footer__text_box p {
		font-size: 12px;
	}
}


@media screen and (max-width:480px) {
	body .wrap {
		padding-bottom: 100px;
		min-height: auto;
	}
	body .nav a {
	    font-size: 12px;
	    padding: 7px 20px 5px 20px;
		line-height: 35px;
	}
	body .nav li img {
		width: 15%;
		margin-left: 14px;
		padding-right: 0;
	}
	body .nav li:nth-child(2) img {
		width: 18%;
		margin: 8px 9px 0 21px;
	}
	body .nav li:nth-child(3) img {
		width: 20%;
		margin: 8px 7px 0 30px;
	}

	body .content_w {
		padding: 13px 54px 0 49px;
	}
	.content_box {
		border-radius: 5px;
		min-height: 191px;
	}
	.cont__art_box p {
	    font: 16px 'open_sanslight';
	    color: #000;
	    padding: 6px 0 7px 0;
	}
	body .cont__text_1 {
		font-size: 9px;
		display: block;
		margin: 23px 80px -2px 80px;
		float: none;
		line-height: 14px;
	}
	body .cont__text_1:before {
		margin-right: 8px;
	}
	body .cont__text_2 {
		font-size: 12px;
		padding: 4px 42px 0 42px;
		line-height: 40px;
	}
	body .text_box_btn {
		font-size: 14.2px;
		padding: 13px 19.5%;
		margin: -3px auto 0px auto;	
	}

	body .footer {
	    margin-top: -100px;
	}
	body .footer__text_box p {
		font-size: 12px;
		padding: 30px 0 0 0;
	}
}


@media screen and (max-width:440px) {
	.nav ul {
		max-width: 440px;
	}
	body .nav a {
	    font-size: 12px;
	    /*padding: 7px 14% 5px;*/
	    padding: 0 0% 0px;
	    line-height: 48px;
	}
	body .nav li {
		margin-left: 0px;
		margin-top: 0px;
	}	
	body .nav li img {
	    width: 17% !important;
	    margin-top: 16px;
	}
	body .nav li:nth-child(2) img {
		width: 19% !important;
		margin: 16px 9px 0 14px;
	}
	body .nav li:nth-child(3) img {
		width: 20% !important;
		margin: 16px 9px 0 14px;
	}
	body .content_w {
		padding: 13px 3% 0;

	}
	body .cont__text_1 {
		font-size: 15px;
		line-height: 19px;
	    margin: 23px 16px -2px;	
	}
	body .cont__text_1:before {
	    width: 46px;
	    height: 44px;
	    margin-top: 0;
        margin-right: 12px;
	}
	body .cont__text_2 {
	    font-size: 18px;
	    padding: 12px 42px 0 42px;
	    line-height: 21px;
	}
	body .text_box_btn {
	    font-size: 27.2px;
	    padding: 20px 24.5%;
	    margin: 9px auto 27px auto;
	}

	body .footer__text_box p {
	    font-size: 12px;
	    padding: 33px 0 0 0;
	    line-height: 13px;
	}
}


















/*My Work CSS Style*/

/*float rules*/
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}

.cb {
	clear: both !important;
}

/*Box Sizing*/
.bs {
    box-sizing: border-box;
}
/*Shadow box*/
.shdb {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#d2d2d23)";/*IE 8*/
	-moz-box-shadow: 9px 2px 5px #d2d2d2;/*FF 3.5+*/
	-webkit-box-shadow: 9px 2px 5px #d2d2d23;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 9px 2px 5px #d2d2d2;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#d2d2d23); /*IE 5.5-7*/
}

/*Shadow text*/
.shdt {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000)";/*IE 8*/
	text-shadow: -1px 0px 0px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000); /*IE 5.5-7*/
}

/*Clear fix*/
.clf:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clf:after {
  content: "";
  display: table;
  clear: both;
}

/*CSS Tran*/
.hb {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hb:hover {
	transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}